@font-face {
    font-family: "Lemon Tuesday";
    src: url("lemon_tuesday.otf");
}

body {
    display: grid;
    height: 100vh;
    place-items: center;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    background: #C9E0F8;
    font-family: "Lemon Tuesday"; 
}

h1 {
   color: white;
   font-size: 5rem;
   
}

main {
    padding: 3rem;
    display: grid;
    place-items: center;
}

header {
    padding: 2rem;
}

.lottery-result {
    place-items: center;
    display: grid;
    min-height: 30vh;
    min-width: 30vw;
    align-items: stretch;
}

.result-image {
    height: 20vh;
}

.btn {
    text-transform: uppercase;
    background: transparent;
    color: black;
    display: inline-block;
    font-weight: 700;
    transition: all 0.3s linear;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
}

.btn:hover {
    background-color: rgba(255,255,255,0.3);
}