@font-face {
    font-family: "Lemon Tuesday";
    src: url("lemon_tuesday.otf");
}

body {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    background: #C9E0F8;
}

h1 {
   color: white;
   font-size: 5rem;
   font-family: "Lemon Tuesday"; 
   
}

main {
    padding: 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: top;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lottery-result {
    place-items: center;
    align-items: center;
    min-height: 30vh;
    min-width: 30vw;
    margin: auto;
}

.wishlist-container {
    align-items: center;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-buttons button {
    margin: 20px;
}

.result-image {
    height: 20vh;
}

.btn {
    text-transform: uppercase;
    background: transparent;
    color: black;
    display: inline-block;
    font-weight: 700;
    transition: all 0.3s linear;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
}

.btn:hover {
    background-color: rgba(255,255,255,0.3);
}